*{ box-sizing: border-box;}

.App {
    width:100vw ;
    height:100vh ;
    margin-top: 100px;
    margin-left: 25px;
}


.item-conteiner{
    width: 90vw;
    margin-bottom:20px ;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

.item-info{
    height: 10%;
}

.modal-background{
    width: 45vw;
    height: 100vh;
    background-color: whitesmoke;
    color: gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
}

.modal{
    background-color: white;
    color: grey;
    padding: 20px;
    width: fit-content;
    margin-top: 30%;
    margin-left: 5%;
}

.modal .delete {
    background-color: red;
    color: white;
}

.Addcard {
   position: fixed;
   right:0;
   bottom: 0;
}

.Addcard button {
    background-color: green;
    color: white; 
    
}

.header {
    background-color: teal;
    color: white;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    text-align: center;
    padding-top: 13px;
   
}

.filterContainer {
    margin-bottom: 25px;
    
}

.uk-card-default{
    border-radius: 20px;
    background-color:rgba(238, 237, 237, 0.685);
}

.uk-card-media-top {
    text-align: center;
}

.btnEliminar {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: teal;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 50px;
    z-index: 10;
    text-align: center;
    padding-top: 17px;
    bottom: 0;
}